/* Floating Icons Container */
.floating-icons-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 50;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.floating-icons-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.floating-icons-container.hidden {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

/* Base Floating Icon Styles */
.floating-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  animation: gentleFloat 4s ease-in-out infinite;
}

.floating-icon:hover {
  transform: translateY(-50%) scale(1.1);
}

/* Icon Image */
.icon-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.floating-icon:hover .icon-image {
  opacity: 1;
  transform: scale(1.1);
}

/* Top Left Icon */
.top-left-icon {
  top: 15%;
  left: 8%;
  animation-delay: 0s;
}

/* Top Right Icon */
.top-right-icon {
  top: 15%;
  right: 15%;
  animation-delay: 1s;
}

/* Middle Left Icon */
.middle-left-icon {
  top: 45%;
  left: 25%;
  animation-delay: 2s;
  transform: translateY(-50%);
}

/* Bottom Right Icon */
.bottom-right-icon {
  bottom: 45%;
  right: 10%;
  animation-delay: 3s;
}

/* Bottom Left Flower */
.bottom-left-flower {
  bottom: 100%;
  left: 8%;
  animation-delay: 4s;
}

/* Floating Animation */
@keyframes gentleFloat {
  0%, 100% {
    transform: translateY(-50%) translateX(0px);
  }
  25% {
    transform: translateY(-60%) translateX(5px);
  }
  50% {
    transform: translateY(-40%) translateX(0px);
  }
  75% {
    transform: translateY(-60%) translateX(-5px);
  }
}

/* Simple floating animation only */
.floating-icon {
  animation: gentleFloat 4s ease-in-out infinite;
}

/* Responsive Design */
@media (max-width: 768px) {
  .floating-icon {
    width: 45px;
    height: 45px;
  }
  
  .icon-image {
    width: 45px;
    height: 45px;
  }
  
  .top-left-icon {
    top: 12%;
    left: 4%;
  }
  
  .top-right-icon {
    top: 14%;
    right: 6%;
  }
  
  .middle-left-icon {
    top: 40%;
    left: 2%;
  }
  
  .bottom-right-icon {
    bottom: 12%;
    right: 5%;
  }
  
  .bottom-left-flower {
    bottom: 8%;
    left: 4%;
  }
}

@media (max-width: 480px) {
  .floating-icon {
    width: 35px;
    height: 35px;
  }
  
  .icon-image {
    width: 35px;
    height: 35px;
  }
  
  .top-left-icon {
    top: 10%;
    left: 2%;
  }
  
  .top-right-icon {
    top: 12%;
    right: 3%;
  }
  
  .middle-left-icon {
    top: 35%;
    left: 1%;
  }
  
  .bottom-right-icon {
    bottom: 10%;
    right: 3%;
  }
  
  .bottom-left-flower {
    bottom: 6%;
    left: 2%;
  }
}

/* Different animation timing for variety */
.left-icon {
  animation-duration: 4s;
}

.right-icon {
  animation-duration: 5s;
  animation-direction: reverse;
}